/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

/* CENTER CONTENT */
.page-content{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

/* LOGIN CARD */
.login-container{
    background:white;
    width:95%;
    max-width:400px;
    padding:40px 30px;
    border-radius:15px;
    box-shadow:0 20px 40px rgba(0,0,0,0.2);
}

/* LOGO */
.logo{
    text-align:center;
    font-size:22px;
    font-weight:bold;
    margin-bottom:15px;
}

/* HEADINGS */
h2{
    text-align:center;
    margin-bottom:5px;
    color:#111827;
}

.subtitle{
    text-align:center;
    font-size:14px;
    color:darkslategrey;
    margin-bottom:25px;
}

/* INPUTS */
.input-group{
    margin-bottom:18px;
}

.input-group label{
    display:block;
    margin-bottom:6px;
    font-size:14px;
    font-weight:bold;
}

.input-group input{
    width:100%;
    padding:10px 12px;
    border:1px solid #d1d5db;
    border-radius:8px;
    transition:0.3s;
}

.input-group input:focus{
    outline:none;
    border-color:#2563eb;
    box-shadow:0 0 0 3px rgba(37,99,235,0.15);
}

/* OPTIONS ROW */
.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:13px;
    margin-bottom:20px;
}

.forgot{
    color:#2563eb;
    text-decoration:none;
}

/* BUTTON */
.btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:#1d4ed8;
}

/* SIGNUP LINK */
.signup-link{
    text-align:center;
    margin-top:20px;
    font-size:14px;
}

.signup-link a{
    color:#2563eb;
    text-decoration:none;
    font-weight:bold;
}

/* FOOTER */
.footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:15px;
}



/* RESPONSIVE */
@media(max-width:480px){
    .login-container{
        padding:30px 20px;
    }
}